// Custom styles.
.site-meta {
  background: $pink; //修改为自己喜欢的颜色
}


@font-face {
    font-family: MONACO;
    src: url('/fonts/MONACO.TTF');
}
.site-title {
    font-size: 40px !important;
	font-family: 'MONACO' !important;
}